.home-container {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative; /* Ensure relative positioning for absolute positioning inside */
  }
  
  h1 {
    font-family: Papyrus, fantasy;
  }
  
  .home-header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #000000;
    color: #db0000;
    padding: 80px 20px;
    text-align: center;
    border-bottom-left-radius: 10% 10%;
    border-bottom-right-radius: 10% 10%;
  }
  
  .banner-container {
    
    position: absolute;
    left: 0;
    margin-top: -100px;
    height: 200px;

    opacity: 0.2; /* Adjust opacity as needed */
    overflow: hidden; /* This ensures the image doesn't overflow the container */

  }
  
  .banner-image {
    overflow: hidden; /* This ensures the image doesn't overflow the container */

    width: 100%; /* Make sure the banner spans the entire width */
  }
  